@import url(./generales.css);

body{
    position: relative;
}

/*Propiedades principales*/

.container_lados{
    display: flex;
}

/* INFORMACION GENERAL SOBRE LOS ESQUELETOS */

.general_esqueleto{
    display: flex;
    justify-content: center;
}

.info_general p{
    background-color: #ECECF7;
    box-shadow: 0px 3px 1px 5px #567095;
    border-radius: 20px;
    font-size: 20px;
    font-family: Roboto;
    padding: 15px;
    margin: auto;
    margin-bottom: 70px;
    width: 90%; 
}

#p_partes{
    margin-bottom: 90px;
}

.img_esqueleto-completo img{
    width: 200px;
    margin: 10px 60px;
}



/*-------- PARTE IZQUIERDA --------*/

.izquierda {
    width: 30%;
}

.izquierda img {
    width: 230px;
    margin: 10px 70px;
    border-radius: 20px;
    box-shadow: 15px 5px 1px 5px #969FAA;
}


.izquierda .info{
    background-color: #c3e4ece1;
    margin: 55px 60px;
    padding: 20px;
    text-align: center;
    height: 130px;
    width: 270px;
}

/*-------- PARTE DERECHA --------*/

.derecha{
    width: 70%;
    text-align: center;
}

.derecha h3 {
    font-family: Chewy;
    font-size: 20px;
    font-weight: 6px;
    padding: 10px;
}


#h2{
    font-family: Chewy;
    text-shadow: 4px 5px 1px #8196AE;
    text-align: center;
    color: #31445a;
    font-size: 35px;
    margin: 20px;
}

#derecha_h2{
    font-family: Chewy;
    text-shadow: 4px 5px 1px #8196AE;
    text-align: center;
    color: #31445a;
    font-size: 35px;
    margin: 20px;
}

.imagenes{
    display: flex;
    margin: 40px 90px;
    background-color: rgba(213, 213, 228, 0.733);
    width: 80%;
    
}

.apen{
    width: 50%;
    border: 1px solid #3E546D;
}

.axi{
    width: 50%;
    border: 1px solid #3E546D;
}

.apen img{
    width: 200px;

}

.axi img{
    width: 200px;
    margin: 30px;
    
}

@media only screen and (min-width:270px) and (max-width:830px){
    .container_lados{
        display: flex;
    }

    #h2{
        font-size: 35px;
        position: relative;
        left: 24%;
        text-align: center;
    }
    
    /* INFORMACION GENERAL SOBRE LOS ESQUELETOS */
    
    .general_esqueleto{
        display: flex;
        flex-direction: column;
    }
    
    .info_general p{
        font-size: 20px;
        padding: 15px;
        margin: 10px 20px;
        margin-bottom: 70px;
        width: 149%; 
    }
    
    #p_partes{
        margin-bottom: 90px;
    }
    
    .img_esqueleto-completo img{
        width: 200px;
        margin: 10px 49%;
    }

    
    /*-------- PARTE IZQUIERDA --------*/

    .container_lados{
        display: flex;
        flex-direction: column;
    }

    .izquierda{
        display: flex;
        width: 160%;
    }

    .izquierda img {
        width: 30%;
        margin: 10px 60px;
        box-shadow: 15px 5px 1px 5px #969FAA;
    }


    .izquierda .info{
        font-size: 20px;
        margin: 30px 40px;
        padding: 20px;
        text-align: center;
        height: 170px;
        width: 40%;
    }

    /*-------- PARTE DERECHA --------*/

    .derecha{
        width: 70%;
        text-align: center;
    }

    .derecha h3 {
        font-size: 20px;
        font-weight: 6px;
        padding: 10px;
    }

    #derecha_h2{
        font-size: 40px;
        margin: 90px 60%;
        width: 100%;
    }


    #h2{
        font-family: Chewy;
        text-shadow: 4px 5px 1px #8196AE;
        text-align: center;
        color: #31445a;
        font-size: 35px;
        margin: 20px;
    }

    .imagenes{
        display: flex;
        flex-direction: column;
        margin: 40px 100px;
        background-color: rgba(213, 213, 228, 0.733);
        width: 190%;
    }

    .apen{
        width: 80%;
    }

    .axi{
        width: 80%;
    }

    .apen img{
        width: 200px;

    }

    .axi img{
        width: 200px;
        margin: 30px;
        
    }
}