
@font-face {
    font-family: Chewy;
    src: url(../font/Chewy-Regular.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(../font/RobotoCondensed-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*::selection{
    background-color: #574fcc;
    color: #fffbfb;
}

body{
    background-color: rgba(207, 207, 230, 0.733);
}


/* NAVEGACION */

.nav{
    display: flex;
    justify-content: space-between;
    background-color: #9aaac2d0;
    border: 3px solid #3E546D;
    border-radius: 10px;
    margin: 10px;
    width: 98%;
}

.nav img{
    margin: 10px 20px;
    width: 60px;
    height: 60px;
    border-radius: 40px;
    cursor: pointer;
}


.enlaces{
   margin-left: 200px;
   margin-right: 20px;
   padding: 30px;
   
}


.enlaces .ingles{
    margin-right: 50px;
}

.enlaces a{
    text-decoration: none;
    font-family: Chewy;
    font-size: 23px;
}

.enlaces a:hover{
    color: rgb(109, 107, 226);
}

/* MENU */

.ventana {
    position: absolute;
    top: 100px;
    left: 10px;
    background: rgb(195, 191, 230);
    border-radius: 5px;
    border-right: 10px solid rgb(104, 110, 182);
    font-size: 20px;
    text-align: center;
    padding: 40px;
    visibility: hidden;
    opacity: 0;
    z-index: 1000;
    height: 90%;
    transition: all 0.3s ease-in-out 0s;
}

.ventana #opciones {
    margin: 70px 5px;
    font-size: 16px;
}

.ventana.active {
    visibility: visible;
    opacity: 1;
    transition: all 0.4s ease-in-out 0s;
}

@media only screen and (min-width:270px) and (max-width:830px){

    .nav{
        margin: 10px 5px;
        width: 90%;
    }

    .enlaces{
        margin-left: 80px;
        margin-right: 10px;
        padding: 25px;
        
    }

    .enlaces .ingles{
        margin-right: 20px;
    }

    .enlaces a{
        font-size: 15px;
    }

}
