@import url(./generales.css);

.titulo h2{
    display: inline-block;
    font-family: Chewy;
    font-size: 30px;
    background-color: #99a9be;
    width:320px;
    padding: 20px;
    margin: 30px 200px;
    border: 1px solid #3E546D;
    box-shadow: 15px 5px 1px  #575d64;
    border-radius: 20px;
}


.titulo h3{
    font-size: 25px;
    display: inline-block;
    font-family: Chewy;
    color: #2e3f52;
    text-shadow: 3px 2px 1px #62768d;
    margin-left: 200px;
}


.titulo img{
    position: absolute;
    width: 100px;
    border-radius: 20px;
    margin: 20px 380px; 
    box-shadow: 10px 10px 1px 2px #969FAA;
}

/*Propiedades perfiles 1*/

.main{
    display: flex;
    width: 100%;
}

.perfil1{
    width: 40%;
}

.perfil2 #br{
    display: none;
}

.perfil2{
    margin-left: 150px;
    width: 60%;
}


.main p{
    position: absolute;
    margin: -150px 250px;
    font-size: 20px;
    font-family: Roboto;
}


.main img{
    display: block;
    width: 150px;
    border-radius: 30px;
    margin: 20px 80px;
}

.main a button{
  margin-top:460px;
  margin-right: 40px;
  background-color: rgb(189, 107, 230);
  border-radius: 20px;
  width: 100px;
  height: 30px;
  cursor: pointer;
}



@media only screen and (max-width:890px){

    #logo_responsive{
        display: none;
    }

    .titulo h2{
        display: block;
        font-size: 25px;
        background-color: #b1c3da;
        width:80%;
        margin: 20px 10px;
        box-shadow: 15px 5px 1px  #707881;
    }

    /*Propiedades perfiles 1*/
    
    .main{
        flex-direction: column;
    }
    
    .perfil2 #br{
        display: block;
    }
    

    .perfil2{
        margin-left: 5px;
        margin-top: 20px;
        width: 60%;
    }

    .perfil2 p{
        margin: -145px 155px;
    }
    
    .main p{
        position: absolute;
        margin: -150px 155px;
        bottom: unset;
        font-size: 16px;
    }
    
    
    .main img{
        width: 125px;
        margin: 30px 20px;
    }
    
    .main a button{
      margin: 20px 30px;
    }
}