@import url(./generales.css);

.container_perfil h2{
    font-family: Chewy;
    font-size: 40px;
    text-align: center;
    margin: 30px;
}

#perfil_p1{
    background-color: #A7ACE9;
    border-radius: 10px;
    padding: 15px;
    font-family: Roboto;
}

#perfil_h3{
    border-radius: 10px;
    padding: 15px;
    margin: -2px 20px; 
    font-family: Roboto;
}

/* NOMBRE */

.perfil_nombre{
    display: flex;
    justify-content: center;
    margin: 80px;
    font-family: Roboto;
}

.nombre_texto h3{
    background-color: #F4B3FA;
}

/* CORREO */

.perfil_correo{
    display: flex;
    justify-content: center;
    margin: 80px;
    font-family: Roboto;
}

.correo_texto h3{
    background-color: #FADFB3;
}

@media only screen and  (max-width:960px){
    
    #perfil_h3{
        padding: 15px;
        margin: 20px 20px; 
        text-align: center;
    }
    
    /* NOMBRE */
    
    .perfil_nombre{
        flex-direction: column;
        flex-direction: column;
        margin: 80px;
        font-family: Roboto;
    }
    
    .nombre_texto h3{
        background-color: #F4B3FA;
    }
    
    /* CORREO */
    
    .perfil_correo{
        flex-direction: column;
        margin: 80px;
        font-family: Roboto;
    }
    
    .correo_texto h3{
        background-color: #FADFB3;
    }
}
