@import url(../CSS/generales.css);
/*Propiedades principales*/

.container{
    display: flex;
}

/*-------- PARTE IZQUIERDA --------*/

.izquierda{
    width: 40%;
}

.izquierda img{
    width: 310px;
    margin-left: 50px;
    position: fixed;
}


/*-------- PARTE DERECHA --------*/

.derecha{
    width: 60%;
}

/*-------- PARTE DERECHA texto de que es --------*/
.derecha-esqueletoaxial{
    margin: 20px;
    width: 90%;
}

.derecha-esqueletoaxial h2{
    margin: 30px;
    text-shadow: 3px 3px 1px  #5b6ea1;
    text-align: center;
    font-size: 35px;
    font-family: Chewy;
}


.derecha-esqueletoaxial p{
    background-color: #c3c7ca;
    box-shadow: 0px 3px 1px 5px #5b6ea1;
    border-radius: 20px;
    font-size: 20px;
    font-family: Roboto;
    padding: 20px;
}

/*-------- PARTE DERECHA texto de funciones --------*/

.derecha-funciones{
    margin: 20px;
    width: 90%;
}

.derecha-funciones h2{
    margin: 30px;
    text-shadow: 3px 3px 1px  #000000;
    text-align: center;
    color: #8696C5;
    font-size: 35px;
    font-family: Chewy;
}

.derecha-funciones p{
    background-color: #c3c7ca;
    box-shadow: 0px 3px 1px 5px #5b6ea1;
    border-radius: 20px;
    font-size: 20px;
    padding: 15px;
    font-family: Roboto;
}


/*-------- PARTE DERECHA container-cuadros --------*/

.container-cuadros{
    display: flex;
    justify-content: center;
}

/* cuadro 1*/

.cuadro1{
    border: 3px solid #3452ac;
    margin: 50px 40px;
    text-align: center;
    width: 290px;
  
}

.container-cuadros p{
    font-family: Roboto;
    padding: 10px;
}

.container-cuadros a{
    display: block;
    color: #1f1e24;
    font-family: Roboto;
    font-size: 18px;
    background-color: #aa8dcf;
    padding: 20px;
}

.container-cuadros a:hover{
    color: #710080;
}


/* cuadro 2*/

.cuadro2{
    border: 3px solid #3452ac;
    margin: 50px 60px;
    text-align: center;
    width: 290px;
}

@media only screen and  (min-width:390px) and (max-width:960px){

    .container{
        flex-direction: column;
    }
    
    /*-------- PARTE IZQUIERDA --------*/
    
    .izquierda{
        width: 30%;
    }
    
    .izquierda img{
        width: 250px;
        margin: 20px 70px;
        position: relative;
    }
    
    
    /*-------- PARTE DERECHA --------*/
    
    .derecha{
        width: 60%;
    }
    
    /*-------- PARTE DERECHA texto de que es --------*/
    .derecha-esqueletoaxial{
        margin: 20px;
        width: 90%;
    }
    
    .derecha-esqueletoaxial h2{
        margin: 20px 40%;
    }
    
    
    .derecha-esqueletoaxial p{
        width: 170%;
    }
    
    /*-------- PARTE DERECHA texto de funciones --------*/
    
    .derecha-funciones{
        margin: 20px;
        width: 90%;
    }
    
    .derecha-funciones h2{
        margin: 20px 40%;
    }
    
    .derecha-funciones p{
        width: 170%;
    }
    
    /*-------- PARTE DERECHA container-cuadros --------*/
    .container-cuadros{
        flex-direction: column;
        margin-left: 18px;
    }
    
    /* cuadro 2*/
    .cuadro2{
        margin: 0px 40px;
    }
}

@media only screen and (max-width:385px){
    .container{
        flex-direction: column;
    }
    
    /*-------- PARTE IZQUIERDA --------*/
    
    .izquierda{
        width: 30%;
    }
    
    .izquierda img{
        width: 250px;
        margin: 20px 60px;
        position: relative;
    }
    
    
    /*-------- PARTE DERECHA --------*/
    
    .derecha{
        width: 60%;
    }
    
    /*-------- PARTE DERECHA texto de que es --------*/
    .derecha-esqueletoaxial{
        margin: 20px;
        width: 90%;
    }
    
    .derecha-esqueletoaxial h2{
        margin: 20px 40%;
    }
    
    
    .derecha-esqueletoaxial p{
        width: 165%;
    }
    
    /*-------- PARTE DERECHA texto de funciones --------*/
    
    .derecha-funciones{
        margin: 20px;
        width: 90%;
    }
    
    .derecha-funciones h2{
        margin: 20px 40%;
    }
    
    .derecha-funciones p{
        width: 165%;
    }
    
    /*-------- PARTE DERECHA container-cuadros --------*/
    .container-cuadros{
        flex-direction: column;
        margin-left: 5px;
    }
    
    /* cuadro 2*/
    .cuadro2{
        margin: 0px 40px;
    }
}
